nav.nav.header__nav
    ul.nav__list
        +nav('About', '#')
        +nav('Services', '#')
        +nav('Projects', '#')
        +nav('Blog', '#')
        +nav('FAQ', '#')
        +nav('Contact', '#')