@media (max-width: 768px) {
  .technologies__list {
    margin: -20px 0;
  }

  .technologies__list {
    margin: -12px 0;
    justify-content: center;
  }

  .technologies__item {
    margin: 12px 30px;
  }

}