@font-face {
  font-family: 'Conv_HelveticaNeueCyr-Roman';
  src: url('webfonts/HelveticaNeueCyr-Roman.eot');
  src: local('☺'), url('webfonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('webfonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('webfonts/HelveticaNeueCyr-Roman.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr-Bold';
  src: url('webfonts/HelveticaNeueCyr-Bold.eot');
  src: local('☺'), url('webfonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('webfonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('webfonts/HelveticaNeueCyr-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


img {
  width: 100%;
  height: auto;
}

html {
  color: $main_font_color;
  font-size: 14px;
  font-family: 'Conv_HelveticaNeueCyr-Roman', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  @include contaiter(0 auto, 80px 10px);
}

@media (max-width: 768px) {
  .container {
    @include contaiter(0 auto, 60px 10px);
  }
}


.title {
  align-self: flex-start;
  color: $title_color;
  font-family: "Conv_HelveticaNeueCyr-Roman",sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 40px;
  position: relative;

  &:before{
    @extend %pseudo;
    width: 30px;
    height: 2px;
    background-color: #b71319;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

  }
}





