@media (max-width: 580px) {

  .discuss {
    min-height: 128px;
  }

  .container {
    .container {
      @include contaiter(0 auto, 40px 10px);
    }
  }

  .discuss__content {
    flex-direction: column;
  }

  .discuss__text {
    margin-right: 0;
    margin-bottom: 16px;
    text-align: center;
  }

}