.header-wrap
    header.header
        .header__bl
            div.logo
                a.logo__link(href='index.html')
                    img.logo__img(src='img/logo.png')
            include ../../blocks/menu/menu-btn
        include ../../blocks/menu/menu
        a.btn.header-btn get in touch
