@media (max-width: 580px) {

  .projects__img-wrap {
    max-width: 50%;

  }

  .projects .arrows span {
    font-size: 11px;

  }

  .projects .slick-prev img {
    margin-right: 10px;
  }

  .projects .slick-next img {
    margin-left: 10px;
  }

}